.app {
  text-align: center;
}

h1 {
  margin-top: 0;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 300px;
  margin: 20px auto;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-size: 36px;
  font-weight: bold;
  background-color: lightblue;
  cursor: pointer;
}

.winner-message {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: lightblue;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: skyblue;
}

.rules {
  margin-top: 20px;
  text-align: left;
  padding: 20px;
}

.rules h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.rules ul {
  list-style-type: disc;
  padding-left: 20px;
}

.rules li {
  margin-bottom: 5px;
}

/* Footer Section */
.footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}
